/* ----------navbar--styles------- */
html {
    font-family: "Inter"
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-logo {
    height: 4.5rem;
    width: 7.5rem;

}

.nav-user-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    cursor: pointer;

}

.nav-i-logo {
    margin: 0;


}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left {
    justify-content: flex-start;
    background-color: #F2F3F9;

}

/* .nav-logo{
    align-items: flex-start;
} */
.right {
    height: 4.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #F2F3F9;
    justify-content: flex-end;

}

.nav-i,
.nav-i-logo {
    height: 4.5rem;
    margin: 0rem 1rem 0rem 1rem;
    color: #7681BF;
    font-weight: bold;
    display: flex;

    align-items: center;

}

/* .nav-i:hover {
color: #4c62e0;
cursor:pointer;
} */
/* ------------------------------------------------- */


/* user hamberger */

.user_menu li {
    list-style: none;
}